<h1>Edit Collection</h1>
<form (submit)="edit(name.value,desc.value,pub.checked,$event)">
  <div class="form-group">
    <label>Name</label>
    <input #name type="text" required class="form-control" placeholder="name">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input #desc type="text" required class="form-control" placeholder="description">
  </div>
  <div class="checkbox">
    <label>Public: <input #pub type="checkbox"></label>
  </div> 
  <button type="submit" class="btn btn-success">Save</button>
</form>
