{"filter":false,"title":".gitignore","tooltip":"/akovalci-se3316-lab5/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":19,"column":14},"end":{"row":19,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1512438144651,"hash":"77372ae3a426dd81dfc881ab8d41435a4bd835e4"}